body{
    background-color: #BFBFBF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-container{
    display: flex;
    justify-content: center;
    background-color: #BFBFBF;
    margin: auto;
}
.inp-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 1.5em;
    margin-top: 30px;
}
.user-id, .user-pwd, .login-btn{
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #8AA6A3;
    font-size: 1em;
    color: #10403B;
    width: 20em;
    font-weight: 900;
}
.login-btn{
    display: block;
    cursor: pointer;
    margin: auto;
    background-color: #10403B;
    color: #8AA6A3;
}
#login-page-btn, #signup-page-btn{
    border: none;
    background-color: #10403B;
    color: #8AA6A3;
    font-size: 2em;
    border-radius: 25px 0px 0px 25px;
    cursor: pointer;
    padding: 10px;
    width: 6em;
    font-weight: bolder;
    transition: 1s;
    
}
#signup-page-btn{
    background-color: #8AA6A3;
    color: #10403B;
    border-radius: 0px 25px 25px 0px;
}
#signup-form{
    display: none;
}
.social-icons{
    background-color: #8AA6A3;
    border: solid #10403B;
    border-radius: 25px;
    padding: 10px;
    font-size: 50px;
    color: #10403B;
    cursor: pointer;
}
.social-icons:hover{
    background-color: #10403B;
    color: #8AA6A3;
    border: solid #8AA6A3;
}
.social-icons-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

